<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Inventori</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
    <h1>INVENTORI LAB LISTRIK</h1>
    <h2>JURUSAN TEKNIK MESIN</h2>
    <h3>POLITEKNIK NEGERI SUBANG</h3>
</div>

<div class="container">
    <a href="#" class="card">Inventori Kabel</a>
    <a href="#" class="card">Inventori B</a>
    <a href="#" class="card">Inventori C</a>
    <a href="#" class="card">Inventori D</a>
</div>

</body>
</html>