body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

.header {
    background: #0b3c5d;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.item {
    height: 50px;
    background: #ddd;
    margin: 10px 0;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #0b3c5d;
    color: white;
    border: none;
    cursor: pointer;
}

.logout {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 25px;
}